// layout variables

$tufts-blue: #4F92C7ff;
$black: #000000ff;
$white: #FFFFFFff;
$candy-pink: #E26E7Eff;
$white-2: #FFFFFFff;
$smoked-purple: #cecede;
$blue: #84bcdc;
$indigo: #0444a4;
$crismon: #db3c53;
$gray: #f8f7f7;